.numbers-dropdown{
    width: 45%;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
}

.numbers-menu {
    height: 200px;
}

.numbers-scrollbar {
    overflow-y: scroll;
}

.numbers-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.numbers-scrollbar::-webkit-scrollbar-track {
    background: #eee;
}

.numbers-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #d7d7d7;
}



.checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin:0;
    transition: background-color .4s ease;
}

.checkbox-menu li input {
    margin: 0 5px;
    top: 2px;
    position: relative;
}

.checkbox-menu li.active label {
    background-color: #9cd9ff;
    font-weight:bold;
}

.checkbox-menu li:not(.active):hover,
.checkbox-menu li:not(.active):focus {
    background-color: #dcf7ff !important;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
    background-color: #94d2f8;
}

