.MyCouponsTable {
    text-align: center;
}

.no-coupons-text {
    font-family: Roboto, sans-serif;
    font-size: 30px;
    color: #0069d9;
}

.container {
    height: calc(100vh - 500px);
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}