.nav-brand-text {
    font-size: 40px;
}

.nav-entry-text {
    font-size: 30px;
    float: right;
    color: #007bff;
}

.nav-entry-text:hover {
    color: #0069d9;
}

.nav-log-in-text {
    font-size: 30px;
}

.nav-button {
    width: 65%;
    float: right;
    margin-top: -10px;
}

.nav-bar {
    background-color: white;
}